@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <head>
        <title>@ViewData["Title"]</title>
        <link rel="icon" href="~/favicon.ico"> <!-- Custom icon -->
    </head>
    <h1 class="display-4">Welcome to the best soccer training website!!</h1>
    <p>Do you want to upgrade your soccer skills to the highest level? Then you have come to the right place!<p/>
</div>

<div class="image-container">
    <img src="~/img/soccercleatsandball.jpg" alt="Soccer Cleats and Ball">
    <img src="~/img/soccertraining.jpg" alt="Soccer Training">
</div>

<div class="text-center">
    <p>From the tender age of 4, my journey in the world of soccer began, and for the subsequent 14 years, the beautiful game has been an integral part of my life. Growing up, my days were marked by the rhythmic pulse of cleats against the grass, the echo of a well-struck ball, and the camaraderie forged on the soccer field. As a young enthusiast, I eagerly embraced the challenges and joys that soccer brought, laying the foundation for an enduring passion that would shape my character and instill in me the values of discipline, teamwork, and perseverance.</p>

    <p>Through the years, my commitment to soccer grew alongside me. From those early days of chasing the ball with newfound friends to the intense training sessions during adolescence, every step on the soccer pitch was a building block in my personal and athletic development. I honed my skills, studied the nuances of the game, and reveled in the sense of accomplishment that accompanied each goal scored and every hard-fought victory. The soccer field became my canvas, a place where I expressed myself through the fluid movements and strategic decisions that define the sport.</p>

    <p>Soccer has not merely been a pastime; it has been a sanctuary where I discovered the immense joy of competition, the importance of sportsmanship, and the indomitable spirit required to face both triumphs and defeats. As I reflect on my extensive soccer training journey, I recognize that my passion for the sport is not just a fleeting interest but a lifelong commitment. Soccer, with its ability to transcend boundaries and cultures, has woven a tapestry of memories and lessons that will forever resonate within me, a testament to the enduring love I hold for the beautiful game. </p>
    
</div>
<br />
<br />
<br />
<br />
<br />
<br />